@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
};

@mixin gradient($from, $to) {
  background: $from;
	background: -moz-linear-gradient(top,  $to 0%, $from 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$to), color-stop(100%,$from));
	background: -webkit-linear-gradient(top,  $to 0%, $from 100%);
	background: -o-linear-gradient(top,  $to 0%, $from 100%);
	background: -ms-linear-gradient(top,  $to 0%, $from 100%);
	background: linear-gradient(to bottom,  $to 0%, $from 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$to', endColorstr='$from',GradientType=0 );
}


@mixin respond-to($media) {
	@if ($media ==  xs) {
		@media only screen and (max-width: 376px) { @content; }
	}
  @else if ($media ==  sm) {
		@media only screen and (min-width: 376px) and (max-width: 768px) { @content; }
	}
	@else if ($media == lg) {
		@media only screen and (min-width : 768px) and (max-width : 1024px) { @content; }
	}
  @else if ($media == xlg) {
    @media only screen and (min-width: 1024px) { @content; }
  }
};

@mixin vertical-align {
     position: relative;
		 top: 50%;
		 -webkit-transform: translateY(-50%);
		 -ms-transform: translateY(-50%);
		 transform: translateY(-50%);
 }

 @mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
