@import "../bower_components/normalize-scss/normalize.scss";

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

ul li{
  list-style: none;
}
