$grey: #4d4d4d;
$grey-light: #ccc;
$true-white: #fff;
$white: #f5f6fa;
$title-black: #444;
$black: #000;
$navy: #11294b;
$navy-dark: #09182d;
$blue: #045dcd;
$blue-light: #54a0fe;
$body: #333333;
$description: #8f8f8f;
$yellow: #f5a623;
$nav: #323d88;
$blue-pricing: #daebf9;
$blue-text: #0d81dc;
$blog-bg: #eff8fd;
$gradient-top: #006ffc;
$gradient-bottom:#000365;
