.video__controls{
  z-index: 10;
  width: auto;
  line-height: 0.9;
}

.video__controls--button, .article__button{
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  letter-spacing: 0.2vh;
  @include respond-to(xs) { border-radius: 80px; font-size: 14px; padding: 1rem 2rem;  }
  @include respond-to(sm) { border-radius: 80px; font-size: 14px; padding: 1rem 2rem;  }
  @include respond-to(lg) { border-radius: 50px; font-size: 16px; padding: 1rem 1rem; }
  @include respond-to(xlg) { border-radius: 50px; font-size: 16px; padding: 1rem 1rem; }
  cursor: pointer;
}

.playpause{
  display: inline-block;
  background:  url("../img/icons/play_icon.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  border: 1px solid $navy;
  background-color: $navy;
}

.playpause:after{
  display: block;
  content:"Watch video";
  @include respond-to(xs) { padding-left: 15px; padding-top: 4px; }
  @include respond-to(sm) { padding-left: 15px; padding-top: 4px;  }
  @include respond-to(lg) { padding-left: 20px; padding-top: 3px; }
  @include respond-to(xlg) { padding-left: 20px; padding-top: 3px; }
}

.expanded{
  display: inline-block;
  background: url("../img/icons/pause_icon.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-color: transparent;
  border: 1px solid $white;
  opacity: .7;
}

.expanded:after{
  display: block;
  content:"Pause Video";
  @include respond-to(xs) { padding-left: 15px; padding-top: 4px;  }
  @include respond-to(sm) { padding-left: 15px; padding-top: 4px;  }
  @include respond-to(lg) { padding-left: 20px; padding-top: 3px; }
  @include respond-to(xlg) { padding-left: 20px; padding-top: 3px; }
}

.button--navy{
  width: 210px;
  height: 50px;
  color: $white;
}

.button--white{
  @include respond-to(xs) { font-size: 14px; }
  @include respond-to(sm) { font-size: 14px; }
  @include respond-to(lg) { font-size: 16px; }
  @include respond-to(xlg) { font-size: 16px; }
  background-color: transparent;
  color: $blue;
  border: solid 1px $blue-pricing;
  &:hover{
    background-color: $blue-pricing;
    transition: 0.2s;
  }
}

.button--position{
  position: relative;
  top:50px;
  @include respond-to(lg) { float: left; };
  @include respond-to(xlg) { float: left; };
}

.landing-page__button--scroll{
  z-index: 10;
  height: 30px;
  background-color: transparent;
  border: none;
  opacity:0.6;
  cursor: pointer;
}
