@font-face{
font-family: "Gotham-Bold";
src: url('../../fonts/Gotham-Bold.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Medium";
src: url('../../fonts/Gotham-Medium.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Book";
src: url('../../fonts/Gotham-Book.otf') format('opentype');
};

@font-face{
font-family: "Gotham-Black";
src: url('../../fonts/Gotham-Black.otf') format('opentype');
};
