.main__divider--footer{
  z-index: 15;
  background-color: $blue-light;
  @include respond-to(xs) { height: 4px; width: 160px; margin: 0 auto 50px auto; }
  @include respond-to(sm) { height: 4px; width: 160px; margin: 0 auto 50px auto; }
  @include respond-to(lg) { display: none; }
  @include respond-to(xlg) { display: none; }
}

.social-media__list {
  margin-top:40px;
  @include respond-to(xs) { flex-direction: row-reverse; }
  @include respond-to(sm) { flex-direction: row-reverse; }
  @include respond-to(lg) { margin: 20px 0; }
  @include respond-to(xlg) { margin: 20px 0; }
}

.social-media--list-item {
  @include respond-to(xs) { margin: 25px 25px; }
  @include respond-to(sm) { margin: 25px 25px; }
  @include respond-to(lg) { margin: 20px 0; }
  @include respond-to(xlg) { margin: 20px 0; }
  cursor: pointer;
}

.social-media__icon {
  @include respond-to(xs) { width:60px; }
  @include respond-to(sm) { width:60px; }
  @include respond-to(xlg) { padding:30px; }
  &:hover{
    background-color: $blue-light;
  }
}

.footer__data {
  margin-bottom: 100px;
  width: 80%;
  margin: 0 auto 50px auto;
}

.data {
  padding:10px 0;
  margin: 10px 0;
  @include respond-to(xs) { width: 100%; }
  @include respond-to(sm) { width: 100%; }
  @include respond-to(lg) { width: 25%; }
  @include respond-to(xlg) { width: 25%; }
}

.footer__logo {
  margin-top: 80px;
  font-family: "Gotham-Bold";
  @include respond-to(xs) { font-size: 56px; }
  @include respond-to(sm) { font-size: 50px; }
  @include respond-to(lg) { font-size: 50px; margin-left:  -50px; }
  @include respond-to(xlg) { font-size: 44px; margin-left:  -50px; }
  color: $blue-light;
  cursor:pointer;
}

.footer__list--links{
  @include respond-to(xs) { margin: 20px auto; }
  @include respond-to(sm) { margin: 20px auto; }
}

.footer__text{
  @include respond-to(xs) { text-align: center; }
  @include respond-to(xlg) { text-align: left; }
}

.footer__title{
  font-family: "Gotham-Bold";
  @include respond-to(xs) { font-size: 24px; }
  @include respond-to(sm) { font-size: 24px; }
  @include respond-to(xlg) { font-size: 22px; }
}

.footer__text--small{
  font-family: "Gotham-Book";
  @include respond-to(xs) { font-size: 20px; }
  @include respond-to(sm) { font-size: 20px; }
  @include respond-to(xlg) { font-size: 16px; }
  opacity: 0.5;
  line-height: 1.2;
}

.footer__text--subscribe{
  margin: 0 auto;
  @include respond-to(xs) { font-size: 18px; width: 80%; }
  @include respond-to(sm) { font-size: 18px; width: 80%; }
}

.footer__link{
  line-height: 1.8;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.footer__newsletter {
  margin: 0 auto;
}

.footer__label {
  @include respond-to(xs) { font-size: 20px;transform: translateY(25px); }
  @include respond-to(xlg) { font-size: 16px;transform: translateY(25px); }
  display: block;
  color: $grey-light;
  transition: all 0.5s;
  text-align: left;
  font-family: "Gotham-Book";
  opacity: .5;

}

.footer__input {
  text-align: left;
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  @include respond-to(xs) { padding: 12px 0; }
  @include respond-to(sm) { padding: 12px 0; }
  @include respond-to(xlg) { padding: 8px 0; }
}

.footer__container {
  padding: 30px 0 0 0;
  position: relative;
}

.footer__container:after, .footer__container:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.footer__container::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

// classes for animated input////////////////////////////
.is-active::after {
  transform: scaleX(1);
}

.is-active .footer__label {
  color: #8E8DBE;
}

.is-completed .footer__label {
  font-size: 12px;
  transform: translateY(0);
}
.footer--send-icon{
  @include respond-to(xs) { margin-left:130px;width:30px; }
  @include respond-to(sm) { margin-left:130px;width:30px; }
  @include respond-to(xlg) {margin-left:90px; }
}

.data--hidden{
  @include respond-to(xs) { display: none; }
}
