.landing-page__overlay--fill {
  top:0;
  left:0;
  right: 0;
  background-color: $gradient-top;
  background-blend-mode: normal;
  height: 100%;
  @include respond-to(xs) { margin-left: -50%;}
  @include respond-to(sm) { margin-left: -50%;}
  position: absolute;
  z-index: 3;
  opacity: 0.6;
}

.landing-page__overlay--gradient {
  top:0;
  left:0;
  right: 0;
  height:100%;
  @include respond-to(xs) { margin-left: -50%;}
  @include respond-to(sm) { margin-left: -50%;}
  position: absolute;
  z-index: 4;
  @include gradient($white, $gradient-bottom);
  opacity: 0.5;
}

.landing-page__video {
  flex:0 1 100%;
  object-fit: fill;
  height: auto;
  top: 0;
  height:100vh;
  width:auto;
  @include respond-to(xs) { margin-left: -110%; }
}

.landing-page__video:after {
  content: "";
  display: block;
  width: 100%;
}

.landing-page__container {
  width: 100%;
  position: absolute;
  z-index: 5;
  height: 100vh;
  flex-flow:column !important;
  display:flex !important;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
}

.container__list{
  flex-flow:column !important;
  display:flex !important;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  height:100vh;
}

 .landing-page__item {
   margin: 40px auto;
 }
 .landing-page__banner{
    margin-top: 200px; margin-bottom: 100px;
 }

.landing-page__text {
  width: 100%;
  font-family: "Gotham-Book";
  font-weight: 100;
  color: $white;
}

.landing-page__text--title{
  margin:0;
  font-weight: 100;
  @include respond-to(xs) { font-size: 46px ; }
  @include respond-to(sm) { font-size: 46px ; }
  @include respond-to(lg) { font-size: 60px ; }
  @include respond-to(xlg) { font-size: 60px ; }
}

.landing-page__text--subtitle{
  @include respond-to(xs) { font-size: 17px ; }
  @include respond-to(sm) { font-size: 17px ; }
  @include respond-to(lg) { font-size: 28px ; }
  @include respond-to(xlg) { font-size: 28px ;  }
  opacity:.8;
}
