.navigation {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  padding: 2em 1em;
  text-transform: capitalize;
  text-align: center;
  width: 95vw;
}

.navigation__item--logo {
  text-decoration: none;
  list-style: none;
  color: $white;
}

.logo {
  z-index: 10;
  font-family: "Gotham-Bold";
  @include respond-to(xs) { font-size: 26px;position: fixed; margin-left: 1vw; margin-top: -3vh; }
  @include respond-to(sm) { font-size: 26px;position: fixed; margin-left: 1vw; margin-top: -2.5vh; }
  @include respond-to(lg) { font-size: 36px;position: absolute; margin-top:2.5vh; margin-left: 3vw; }
  @include respond-to(xlg) { font-size: 36px;position: absolute; margin-top:2.5vh; margin-left: 3vw; }
  float: left;
  left: 3vw;
  color: $white;
  coursor: pointer;
  text-decoration: none;
}

.navigation__wrapper {
  @include respond-to(xs) { position: fixed; width: 100vw; background-color: $navy-dark;}
  @include respond-to(sm) { position: fixed; width: 100vw; background-color: $navy-dark;}
  @include respond-to(lg) { position: absolute; }
  @include respond-to(xlg) { position: absolute; }
  top:0;
  right:0;
  float: right;
  transition: all 350ms ease-out;
}

.wrapper__list {
  @include respond-to(xs) { padding: 40vw; }
  @include respond-to(sm) { padding: 40vw; }
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 3em;
  align-items: center;
  display:flex;
}

.wrapper__list-item {
  float: left;
  display: flex;
  padding: 20px;
}

.wrapper__list-item:last-of-type a {
  @include respond-to(xs) { font-size: 20px; color:$yellow; text-transform: uppercase; margin-bottom: 50px; padding-top: 10px; &:hover {border:none;} }
  @include respond-to(sm) { font-size: 20px; color:$yellow; text-transform: uppercase; margin-bottom: 50px; padding-top: 10px; &:hover {border:none;} }
  @include respond-to(lg) { border-radius: 50px; font-size: 12px;border: solid 1px white;padding: 8px 10px; &:hover{
    border: $yellow solid 1px; color:$yellow;} }
  @include respond-to(xlg) { border-radius: 50px; font-size: 12px;border: solid 1px white;padding: 8px 10px; &:hover{
    border: $yellow solid 1px; color:$yellow;} }
}

.wrapper__link {
  text-align: center;
  display: inline-block;
  color: $white;
  text-decoration: none;
  font-family: "Gotham-Book";
  font-weight: 600;
  font-size: 14px;
  float: left;
  &:hover{
    border-bottom: $white solid 1px;
    border-radius: 0;
  }
  &:active {
    border-bottom: $white solid 1px;
    border-radius: 0;
  }
}

.navigation__icon {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding:1vh 0 3vh 90vw;
}

.navigation__icon--color{
  background-color: $navy;
}

.navigation__icon--background{
  background-color: $nav;
}

.navigation__icon-elements {
  @include respond-to(xs) { margin-top: 1vh;}
  @include respond-to(sm) { margin-top: 1vh;}
  background: transparent;
  width: 3vh;
  height: 3vh;
}

#menu {
  position: relative;
}

#icon-element-1 {
  display: block;
  background: #fff;
  width: 5vh;
  height: 2px;
  transition: transform .3s;
}

#icon-element-2 {
  display: block;
  background: #fff;
  width: 3vh;
  height: 2px;
  margin-top: 6px;
}

#icon-element-3 {
  display: block;
  background: #fff;
  width: 5vh;
  height: 2px;
  margin-top: 6px;
  transition: transform .3s;
}

.act {
  transform: rotate(225deg);
  position: relative;
  top: 11px;
  left: -12px;
}

.act2{
  visibility: hidden;
}

.act3 {
  transform: rotate(-225deg);
  position: relative;
  top: -5px;
  right: 13px;
}

  .wrapper__list {
    @include respond-to(xs) { display: none; padding-top: 38px; height: 100vh; }
    @include respond-to(sm) {  display: none; padding-top: 38px; height: 100vh; }
  }

  .wrapper__list-item {
    @include respond-to(xs) { float: none; }
    @include respond-to(sm) {  float: none; }
  }

  .navigation__icon {
    @include respond-to(xs) { display: block; }
    @include respond-to(sm) {  display: block; }
  }

  .wrapper__list.responsive {
    @include respond-to(xs) { display: block; height: 100vh; }
    @include respond-to(sm) {  display: block; height: 100vh; }
  }
