body{
  background-color: $true-white;
}

main{
  text-align: center;
  overflow: hidden;
}

.main__divider{
  z-index: 15;
  background-color: $blue-light;
  @include respond-to(xs) { height: 5px; width: 170px; margin: 0 auto 60px auto; }
  @include respond-to(sm) { height: 5px; width: 170px; margin: 0 auto 60px auto; }
  @include respond-to(lg) { height:5px; width: 150px; margin: 0 auto 50px auto;  }
  @include respond-to(xlg) { height:5px; width: 150px; margin: 0 auto 50px auto;  }
}

//Sections- titles and subtitles/////////////////////////////
.section__text--title{
  font-weight: 100;
  margin: 60px 0 15px 0;
  font-family: "Gotham-Bold";
  @include respond-to(xs) { font-size: 42px ; width: 90%; margin: 20px auto; }
  @include respond-to(sm) { font-size: 42px ; width: 90%; margin: 20px auto; }
  @include respond-to(lg) { font-size: 64px ; }
  @include respond-to(xlg) { font-size: 64px ; }
}

.text--black{
  color:$title-black;
}

.text--white{
  color:$white;
}

.section__text--subtitle{
  font-family: "Gotham-Book";
  @include respond-to(xs) { font-size: 18px ; margin: 0 auto 40px auto; }
  @include respond-to(sm) { font-size: 18px ; margin: 0 auto 40px auto; }
  @include respond-to(lg) { font-size: 24px ; margin-bottom: 70px; }
  @include respond-to(xlg) { font-size: 24px ; margin-bottom: 70px; }
  opacity:.5;
  padding-bottom: 20px;
  font-weight:100;
}

.section__text--subtitle-narrow{
  @include respond-to(xs) { width: 90%; }
  @include respond-to(sm) { width: 90%; }
}

.section__text--subtitle-wide{
  @include respond-to(xs) { width: 100%; }
  @include respond-to(sm) { width: 100%; }
}

//Sections /////////////////////////////
.section{
  height: 100%;
  display: flex;
  overflow: hidden;
  text-align: center;
  color:$body;
}

.section--blue{
  padding-top:30px;
  @include respond-to(xs) { padding-bottom: 100px; background: linear-gradient(to bottom,
                                $blue 38%, $blue-pricing 38%,
                                $blue-pricing 56%, white 56%);}
 @include respond-to(sm) { padding-bottom: 100px; background: linear-gradient(to bottom,
                                $blue 38%, $blue-pricing 38%,
                                $blue-pricing 56%, white 56%);}
  @include respond-to(lg) { padding-bottom: 100px; background: linear-gradient(to bottom,
                                $blue 60%, $blue-pricing 60%,
                                $blue-pricing 75%, white 75%);}
  @include respond-to(xlg) { padding-bottom: 100px; background: linear-gradient(to bottom,
                                $blue 60%, $blue-pricing 60%,
                                $blue-pricing 75%, white 75%);}
}

.section--grey{
  background-color: $blog-bg;
}

.section__inner{
  @include respond-to(xs) { margin-top: 0 }
  @include respond-to(sm) { margin-top: 0 }
  @include respond-to(lg) { margin: 0 auto; }
  @include respond-to(xlg) { margin: 0 auto; }
}

.section__inner--about{
@include respond-to(xs) { @include container(85%); margin-bottom: 0; margin-top: 40px;}
@include respond-to(sm) { @include container(85%); margin-bottom: 0; margin-top: 40px;}
@include respond-to(xlg) { @include container(80%); margin-bottom: 80px; }
@include respond-to(lg) { @include container(80%); margin-bottom: 80px; }
}

.section__inner--careers {
@include respond-to(xs) { @include container(90%); margin-bottom: 0; }
@include respond-to(sm) { @include container(90%); margin-bottom: 0; }
@include respond-to(lg) { @include container(80%); margin-bottom: 80px; }
@include respond-to(xlg) { @include container(80%); margin-bottom: 80px; }
}

.section__inner--blog{
  background-color: $blog-bg;
  @include respond-to(xs) { @include container(95%); margin-top: 0; }
  @include respond-to(sm) { @include container(95%); margin-top: 0; }
  @include respond-to(lg) { @include container(90%); }
  @include respond-to(xlg) { @include container(90%); }
}

.section__inner--pricing{
  @include respond-to(xs) { @include container(85%); }
  @include respond-to(sm) { @include container(85%); }
  @include respond-to(xlg) {@include container(60%); }
  @include respond-to(lg) {@include container(60%); }
}

.section__inner--team{
  @include respond-to(xs) { @include container(100%); }
  @include respond-to(sm) { @include container(100%); }
  @include respond-to(lg) {@include container(65%); }
  @include respond-to(xlg) {@include container(65%); }
}

//Section about- content /////////////////////////////
.skills__title{
  @include respond-to(xs) {font-size: 28px; margin: 20px auto; }
  @include respond-to(sm) {font-size: 28px; margin: 20px auto; }
  @include respond-to(lg) {font-size: 32px; }
  @include respond-to(xlg) {font-size: 32px; }
  font-family: "Gotham-Book";
  font-weight: 100;
  color:$body;
  width: 100%;
  line-height: 1.2;
}

.skills__description{
  @include respond-to(xs) {font-size: 13px; width: 75%; margin: 0 auto; }
  @include respond-to(sm) {font-size: 13px; width: 75%; margin: 0 auto; }
  @include respond-to(lg) {font-size: 14px; }
  @include respond-to(xlg) {font-size: 14px; }
  font-family: "Gotham-Book";
  margin: 10px;
  line-height: 1.48;
  color: $description;
}

.skills__icon{
  @include respond-to(xs) { height:60px; margin-top:0; }
  @include respond-to(sm) { height:60px; margin-top:0; }
  @include respond-to(lg) { height:70px; margin-top:50px; }
  @include respond-to(xlg) { height:70px; margin-top:50px; }
  margin-bottom: 20px;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.flex-item-left {
  @include respond-to(lg) { margin-left: 0px; }
  @include respond-to(xlg) { margin-left: 80px; }
}

.flex-item-right {
  @include respond-to(lg) { margin-right: 0px; }
  @include respond-to(xlg) { margin-right: 80px; }
}
.skills__block{
  @include respond-to(xs) { width: 660px; }
  @include respond-to(lg) { width: 320px; }
  @include respond-to(xlg) { width: 320px; }
  margin-bottom: 40px;
  padding: 0 18px;
}

//Section team /////////////////////////////
.carousel__container {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  margin-bottom: 90px;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
  @include respond-to(xs) { left: -100%; transform: translateX(50%); }
  @include respond-to(sm) { left: -100%; transform: translateX(50%);  }
  @include respond-to(lg) { left: -33.33333%; transform: translateX(33.33333%); }
  @include respond-to(xlg) { left: -33.33333%; transform: translateX(33.33333%); }
}

.carousel.is-reversing--right {
  transform: translateX(-100%);
  @include respond-to(xs) { transform: translateX(-50%); }
  @include respond-to(sm) { transform: translateX(-50%); }
  @include respond-to(lg) { transform: translateX(-33.33333%); }
  @include respond-to(xlg) { transform: translateX(-33.33333%); }
}

.carousel.is-reversing--left {
  transform: translateX(100%);
  @include respond-to(xs) { transform: translateX(50%); }
  @include respond-to(sm) { transform: translateX(50%); }
  @include respond-to(lg) { transform: translateX(33.33333%); }
  @include respond-to(xlg) { transform: translateX(33.33333%); }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  cursor: pointer;
  background: $true-white;
  flex: 1 0 100%;
  order: 5;
  @include respond-to(xs) { flex-basis: 60%;}
  @include respond-to(sm) { flex-basis: 60%;}
  @include respond-to(lg) { flex-basis: 33.33333%;}
  @include respond-to(xlg) { flex-basis: 33.33333%; }
}

.carousel-seat.is-ref {
  order: 2;
}

.active{
  z-index: 100;
  box-shadow:-10px 10px 150px -10px $grey-light;
  order: 3;
}

.image__container{
  @include respond-to(xs) { height: 320px; }
  @include respond-to(sm) { height: 400px; }
  @include respond-to(lg) { height: 250px; }
  @include respond-to(xlg) { height: 350px; }
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  width: auto;
}

.image__container--image1{
  background-image: url("../../dist/img/armchair1.png");
}

.image__container--image2{
  background-image: url("../../dist/img/armchair2.png");
}

.image__container--image3{
  background-image: url("../../dist/img/armchair3.png");
}

.image__container--image4{
  background-image: url("../../dist/img/armchair4.png");
}

.image__container--image5{
  background-image: url("../../dist/img/armchair5.png");
}

.image__container--image6{
  background-image: url("../../dist/img/armchair6.png");
}

.team__member--image{
  display: block;
  width: 100%;
  height: auto;
}

.team__member--details{
  font-family: "Gotham-Book";
  box-shadow: 10px 0px 30px  $white;
  padding: 20px 0;
}

.team__member--name{
  @include respond-to(xs) { font-size: 22px; margin-bottom: 15px; }
  @include respond-to(sm) { font-size: 22px; margin-bottom: 15px; }
  @include respond-to(lg) { font-size: 22px; margin-bottom: 10px;}
  @include respond-to(xlg) { font-size: 22px; margin-bottom: 10px;}
}

.team__member--role{
  @include respond-to(xs) { font-size: 16px; }
  @include respond-to(sm) { font-size: 16px; }
  @include respond-to(lg) { font-size: 16px; }
  @include respond-to(xlg) { font-size: 16px; }
  opacity: .5;
}

.carousel__controls{
  flex-wrap: nowrap;
  display: flex;
  position: absolute;
  left:0;
  width: 100%;
  @include respond-to(xs) { margin-top: -550px; }
  @include respond-to(sm) { margin-top: -610px; }
  @include respond-to(lg) { margin-top: -460px; }
  @include respond-to(xlg) { margin-top: -555px;}
  z-index: 1000;
}

.toggle{
  width: 50%;
  @include respond-to(xs) { height: 455px; }
  @include respond-to(sm) { height: 520px; }
  @include respond-to(lg) { height: 370px; }
  @include respond-to(xlg) { height: 450px; }
  z-index: 1000;
  border: none;
  outline: none !important;
  background-color: transparent;
}


//Section pricing- content /////////////////////////////
.wrapper__text  {
  margin-top: 40px;
  font-family: "Gotham-Book";
  color: $body;
}

.wrapper__header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}

.wrapper__subtitle {
  font-size: 16px;
  @include respond-to(xs) { padding: 0; width: 70%; margin: 20px auto; }
  @include respond-to(sm) { padding: 0; width: 70%; margin: 20px auto; }
  @include respond-to(lg) { padding: 0; margin-bottom: 40px; }
  @include respond-to(xlg) { padding: 0 75px; margin-bottom: 40px;}
  opacity: 0.5;
}

.wrapper__list--item{
  margin-bottom: 10px;
}

.wrapper__price{
  color: $blue-text;
  @include respond-to(xs) { font-size: 44px; margin-bottom: 30px; }
  @include respond-to(sm) { font-size: 44px; margin-bottom: 30px; }
  @include respond-to(lg) { font-size: 44px; }
  @include respond-to(xlg) { font-size: 44px; }
  font-weight: 100;
}

.wrapper__price--left{
  margin-top: 95px;
}

.wrapper__price--dollar{
  font-size: 22px;
}

.pricing__bg{
  background-color: $blue-pricing;
  height: 200px;
  width: 100%;
  margin-top: 200px;
  position: absolute;;
  z-index: 7;
}
.pricing__wrapper {
  background-color: $true-white;
  box-shadow: 0 10px 50px -10px $grey-light;
}

.wrapper__inner {
  position: relative;
  z-index: 10;
  background-color: transparent;;
  @include respond-to(xs) { padding:0; margin: 0 auto; }
  @include respond-to(sm) { padding:0; margin: 0 auto; }
  @include respond-to(lg) { margin:40px 0; }
  @include respond-to(xlg) { margin:40px 0; }
}

.pricing__inner--right{
  @include respond-to(xs) { border-top: 1px solid $grey-light; width: 80%; }
  @include respond-to(sm) { border-top: 1px solid $grey-light; width: 80%; }
  @include respond-to(lg) { border-left: 1px solid $grey-light; width: 100%; }
  @include respond-to(xlg) { border-left: 1px solid $grey-light; width: 100%; }
}

.wrapper__divider--horizontal{
  z-index: 15;
  background-color: $blue-pricing;
  opacity: .3;
  @include respond-to(xs) { width: 40vw; margin: 0px auto 20px auto; }
  @include respond-to(sm) { width: 40vw; margin: 0px auto 20px auto; }
  @include respond-to(lg) { width: 10vw; margin: 50px auto 50px auto; }
  @include respond-to(xlg) { width: 10vw; margin: 50px auto 50px auto; }
}

@include breakpoint ($xlg){
  @include layout(12);
  .pricing__wrapper{
      @include span(12);
      .wrapper__inner{
        @include span(6 at 12 );
      }
      }
  };

  @include breakpoint ($lg){
    @include layout(12);
    .pricing__wrapper{
        @include span(12);
        .wrapper__inner{
          @include span(6 at 12 );
        }
        }
    };

//Section join-us- content /////////////////////////////
.article__title{
  font-family: "Gotham-Book";
  @include respond-to(xs) {font-size: 22px; text-align: center;}
  @include respond-to(sm) {font-size: 34px; text-align: center;}
  @include respond-to(lg) {font-size: 34px; text-align: left; }
  @include respond-to(xlg) {font-size: 38px; text-align: left; }
  text-transform:capitalize;
  margin-bottom:20px;
  margin-top: 50px;
}

.article__text{
  font-weight: 100;
  color:$body;
  width: 100%;
  line-height: 1.2;
}

.article__text--big{
  font-family: "Gotham-Book";
  opacity: 0.5;
  padding-bottom: 30px;
  @include respond-to(xs) { text-align: center; font-size: 15px; }
  @include respond-to(sm) { text-align: center; font-size: 15px; }
  @include respond-to(lg) { text-align: left; font-size: 18px; }
  @include respond-to(xlg) { text-align: left; font-size: 22px; letter-spacing: 1px; }
}

.article__list{
  padding: 0;
  @include respond-to(xs) { margin-top: 150px; }
  @include respond-to(sm) { margin-top: 150px; }
  @include respond-to(lg) { margin-top: 50px; }
  @include respond-to(xlg) { margin-top: 50px; }
}

.article__list-item{
  display: block;
  margin-top:50px;
  @include respond-to(xs) { margin-bottom:50px; }
  @include respond-to(sm) { margin-bottom:50px; }
}

.item__title{
  font-family: "Gotham-Medium";
  text-align: left;
  font-size: 20px;
  margin-bottom:30px;
  text-transform: uppercase;
  color:$blue;
  font-weight: bold;
  cursor: pointer;
  &:hover{
  text-decoration:underline;
}
}

.item__description{
  font-family: "Gotham-Book";
  opacity: 0.5;
  @include respond-to(xs) { text-align: left; font-size: 18px; line-height: 1.15; }
  @include respond-to(sm) { text-align: left; font-size: 18px; line-height: 1.15; }
  @include respond-to(lg) { text-align: left; font-size: 16px; }
  @include respond-to(xlg) { text-align: left; font-size: 16px; }
}

@include susy-breakpoint ($xlg, 24) {
.section__main {
  @include span(12);
  @include suffix(5%);
}
.section__aside{
  @include span(12) ;
  @include prefix(5%);
}
}

@include susy-breakpoint ($lg, 24) {
.section__main {
  @include span(12);
  @include suffix(5%);
}
.section__aside{
  @include span(12) ;
  @include prefix(5%);
}
}

.fa{
  @include respond-to(xs) { font-size: 16px; margin-left:30px;}
  @include respond-to(sm) { font-size: 16px; margin-left:30px;}
  @include respond-to(lg) { font-size: 14px; margin-left:20px; }
  @include respond-to(xlg) { font-size: 14px; margin-left:20px; }
}

//Section blog /////////////////////////////
.article--blog-title{
  text-align: left;
  font-family: "Gotham-Medium";
  font-size: 22px;
  @include respond-to(xs) { margin-bottom: 10px; }
  @include respond-to(sm) { margin-bottom: 10px; }
  @include respond-to(lg) { margin-bottom: 10px; }
  @include respond-to(xlg) { margin-bottom: 30px; }
}

.article--blog-tips{
  text-align: left;
  opacity: .5;
  @include respond-to(xs) { font-family: "Gotham-Book"; font-size: 18px; margin-right: 30px; }
  @include respond-to(sm) { font-family: "Gotham-Book"; font-size: 18px; margin-right: 30px; }
  @include respond-to(lg) { font-family: "Gotham-Medium"; font-size: 16px; }
  @include respond-to(xlg) { font-family: "Gotham-Medium"; font-size: 16px; }
}

.article__main {
  flex-wrap: nowrap;
}

.article__container {
  justify-content: space-between;
}
.article__content {
  justify-content: space-between;
  padding-bottom: 20px;
  height: 100%;
}

.description__details{
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.article__image-author{
  background-image: url('../../dist/img/avatar.png');
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
}

.article__date {
  margin-right: 20px;
  line-height: 3;
  font-family: "Gotham-Medium";
  @include respond-to(xs) { font-size: 16px; opacity: .3;}
  @include respond-to(sm) { font-size: 16px; opacity: .3;}
  @include respond-to(lg) { font-size: 16px; opacity: .3;}
  @include respond-to(xlg) { font-size: 16px; opacity: .5; margin-right: 50px; }
}

/////article-left/////////
.article--left {
  flex-wrap: nowrap;
  background-color: white;
  margin-bottom: 35px;
  height: 100%;
  box-shadow: 0 15px 15px -10px $grey-light;
  @include respond-to(xs) { width: 100%; }
  @include respond-to(sm) { width: 100%; }
  @include respond-to(lg) { width: 100%; }
  @include respond-to(xlg) { width: 60%; margin-right: 30px; height: 500px; }
}

.article__image--left{
  background-image: url('../../dist/img/picture1.jpg');
  @include respond-to(xs) {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
   }
   @include respond-to(sm) {
     width: 100%;
     height: 300px;
     background-position: center;
     background-size: cover;
    }
   @include respond-to(lg) {
     width: 100%;
     height: 300px;
     background-position: center;
     background-size: cover;
  }
  @include respond-to(xlg) {
    height: 500px;
    background-position: left;
    background-size: cover;
    width: 55%;
 }
}

.article__details--left{
  margin: 0 auto;
  @include respond-to(xs) { width: 95%; }
  @include respond-to(sm) { width: 95%; }
  @include respond-to(lg) { width: 95%; }
  @include respond-to(xlg) { width: 42%; }
}

.article__description--left{
  @include respond-to(xs) { margin: 10px 10px 50px 10px; }
  @include respond-to(sm) { margin: 10px 10px 50px 10px; }
  @include respond-to(lg) { margin: 20px 20px 50px 0; }
  @include respond-to(xlg) { margin: 100px 20px 0px auto; }
}

/////article-right/////////
.article--right{
  @include respond-to(xs) { display: none; }
  @include respond-to(sm) { display: none; }
  @include respond-to(lg) { display: none; }
  @include respond-to(xlg) {
    box-shadow: 0 15px 15px -10px $grey-light;
    flex-wrap: nowrap;
    height: 500px;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 150px;
    width: 40%;
  }
}

.article__image--right{
  background-image: url('../../dist/img/picture2.jpg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.article__details--right{
  width: 95%;
  margin: 0 auto;
}

.article__description--right{
  margin: 7px 15px 30px 10px;
}

//////////////////////
